body {

}

div {
  border: 1px solid brown;
}
/*-- header related items  --*/

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 30px;
  flex-grow: 1;
}

nav {
  display: inline-flex;
  list-style-type: none;
  width: 300px;
  align-items: center;
  justify-content: space-around;
  padding-right: 40px;
}
nav span {
  display: inline-block;
}
nav a {
  color: black;
}

/*  Content related items */

.container {
  display: flex;
  border: 1px dotted dimGray;
  width: 100%;
}
